

.banner {
    display: block;
    width: 100%; /* Make the banner span the full width of the page */
    padding: 80px 0 0 0; /* Remove any padding that might affect the full-width layout */
    margin: 0; /* Remove any margin to avoid unwanted spacing */
}

.banner img {
    display: block;
    width: 100%; /* Make the image span the full width of the banner */
    height: 200px; /* Maintain the aspect ratio of the image */
    object-fit: cover; /* Ensure the image covers the banner if necessary */
}





h2 {
  color: blue;
  text-align: center;
}
h3 {
  color: blue;
  text-align: center;
}
div {
  font-family: verdana;
  font-size: 20px;
}

nav {
  background-color: #808080;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #964B00;
  color: white;
  text-decoration: underline;
}
/* Title */
.title h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Map */
#map {
    height: 700px;
    width: 100%;
}

/* The hero image */
.hero-image {
   /* Set a specific height */
  height: 50%;
}


/* Styling for the map and text container */
.map-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.map-image {
    width: 1200px;
    height: 1000px;
}

.text-container {
    width: 45%;
    text-align: right;
}
