.banner {
    max-width: 100%; /* Ensure the banner spans the width of its container */
    overflow: hidden; /* Hide any overflow content */
    position: relative; /* Makes the banner a positioned container */
    height: 300px; /* Set a fixed height for the banner */
}

.banner img {
    width: 100%; /* Make the image fill the width of its container */
    height: 100%; /* Make the image fill the height of its container */
    object-fit: cover; /* Cover the entire container area */
    object-position: center; /* Center the image within the banner */
    display: block; /* Ensure the image behaves as a block-level element */
    position: absolute; /* Allows for precise positioning within the banner */
    top: 0; /* Align the top of the image with the top of the banner */
    left: 0; /* Align the left of the image with the left of the banner */
}

h2 {
  color: blue;
  text-align: center;
}
h3 {
  color: blue;
  text-align: center;
}
div {
  font-family: verdana;
  font-size: 20px;
}

nav {
  background-color: #808080;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #964B00;
  color: white;
  text-decoration: underline;
}
/* Title */
.title h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Map */
#map {
    height: 700px;
    width: 100%;
}

/* The hero image */
.hero-image {
   /* Set a specific height */
  height: 50%;
}


/* Styling for the map and text container */
.map-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.map-image {
    width: 1200px;
    height: 1000px;
}

.text-container {
    width: 45%;
    text-align: right;
}
